<h1>Create New Clients:</h1>

<form action='/clients/new' method='post'>

<label for='first_name'>First Name: </label>
<input type='text' name='client[first_name]' id='first_name' placeholder='Enter client first name' required><br><br>

<label for='last_name'>Last Name: </label>
<input type='text' name='client[last_name]' id='last_name' placeholder='Enter client last name' required><br><br>

<label for='email'>Email: </label>
<input type='text' name='client[email]' id='email' placeholder='Enter client email' required><br><br>

<p>If your client's company, or companies, have not been previously registered, enter the number of companies you need to create and associate with them: </p>
<input type='number' name='number_of_new_client_companies' placeholder='please enter a number'><br><br>
<p>If there are no new businesses to register, click 'Next'.</p>
<input type='submit' id='submit' value='Next'>

</form>