<h1>Create New Task</h1>

<form action='/tasks/new' method='post'>

<%@user.user_companies.each do |c|%>
<label for='user_company'><%=c.name%></label>
<input type='radio' name='user_company' id='user_company' value='<%=c.name%>' required><br>
<%end%><br><br>

<label for='title'>Name of Task: </label>
<input type='text' name='task[title]' id='title' placeholder='enter title of task' required><br><br>

<label for='content'>Content of task: </label>
<input type='textbox' name='task[description]' id='content' placeholder='enter content of task' required><br><br>

<label for='deadline'>Dealine of task: </label>
<input type='datetime-local' name='task[deadline]' id='content' placeholder='enter deadline of task' required><br><br>

<input type='submit' id='submit' value='Create task'>

</form>

<!--create_table "tasks", force: :cascade do |t|
    t.string "title"
    t.string "description"
    t.datetime "deadline"
    t.boolean "complete"
    t.integer "user_company_id"
    t.integer "user_id"
  end
-->