<h1>Hello, and welcome to Accounted For!</h1>


<h2>Login:</h2>

<div class='login-form'>
  <form action='/login' method='post'>
  
  <div class=input>
  <label class='input-text' for='email'>Email:</label>
  <input type='email' name='email' id='email' placeholder="enter email here"><br><br>

  <label class='input-text' for='password'>Password:</label>
  <input type='password' name='password' id=password placeholder="enter password here"><br><br>

  <input type='submit' value='Login'>
  </div>

</div>

<p>or, Signup <a href='/signup/user_information'>here</a>.</p> 

