<style>
  .navbar {
    font-size: 1.1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  body {
    height: 100%;
    margin: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

  .content {
    margin: auto;
    width: 35%;
    padding: 25px;
    border: 1px solid black;
    border-radius: 25px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .content-index {
    margin: auto;
    width: 85%;
    padding: 25px;
    border: 1px solid black;
    border-radius: 25px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .scroll-content {
    padding-left: 1%;
  }

  .index-header {
    margin: auto;
    width: 50%;
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
  }

  a:link {
    text-decoration: none;
    background-color: #F8F8F8;
    border-radius: 10%;
    color: black;
  }

  a:visited {
    text-decoration: none;
    background-color: #F8F8F8;
    border-radius: 10%;
    color: black;
  }

  a:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: #F8F8F8;
    border-radius: 10%;
    color: black;
  }

  a:active {
    text-decoration: underline;
    background-color: #F8F8F8;
    border-radius: 10%;
    color: black;
  }

  .nav-text {
    color: black;
    border-radius: 10%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
  }

  .box-link {
    padding-left: 50px;
  }

  h2 {
    margin: auto;
    width: 50%;
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
  }

  h3 {
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
  }

  footer {
    position: 
  }

</style>

<div class='navbar'>
<a href='/users/<%=@user.slugged_username%>/all'><img src="./css/img/e4af3c8539d54ecca06b79256fcd8aff.png"></a>
  <a class='nav-text' href="/notes/all">Notes</a>
  <a class='nav-text' href="/tasks/all">Tasks</a>

  <a class='nav-text' href="/clients/all">Clients</a>
  <a class='nav-text' href="/client-companies/all">Client Companies</a>
  <a class='nav-text' href="/my-companies/all">My Businessees</a>

  <a class='nav-text' href="/users/<%=@user.slugged_username%>/profile">Profile</a>
  <a class='nav-text' href="/logout">Logout</a>
</div><br><br>

<%=yield%>

<footer>
<p>Accounted for 2021</p>
</footer>