<h1>Sign Up!</h1>
<h2>User Information</h2>
<h3>Part 1/2:</h3>
<form action='/signup/user_information' method='post'>

<label for='first_name'>*First Name:</label>
<input type='text' name='user[first_name]' id='first_name' placeholder='enter your first name' required><br><br>

<label for='last_name'>*Last Name:</label>
<input type='text' name='user[last_name]' id='last_name' placeholder='enter your last name' required><br><br>

<label for='username'>*Username:</label>
<input type='text' name='user[username]' id='username' placeholder='enter your username' required><br><br>

<label for='email'>*Email:</label>
<input type='text' name='user[email]' id='email' placeholder='enter your email' required><br><br>

<label for='password'>*Password:</label>
<input type='password' name='user[password]' id='password' placeholder='enter your password' required><br><br>

<label for='reenter_password'>*Re-enter Password:</label>
<input type='password' name='test[password]' id='reenter_password' placeholder='re-enter your password' required><br><br>

<label for='number_of_user_companies'>*How many of your companies are you trying to keep track of?</label>
<input type='number' name='number_of_user_companies' id='number_of_user_companies' placeholder="enter '0' if none" required><br><br>

<input type='submit' value='Next'>

</form>



