<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Accounted For">
  <title>Accounted For</title>
  <link href="ACCOUNTED-FOR-APP/css/main.css" rel="stylesheet" type="text/css" />
</head>
<header>
<a href='/'><img src="./css/img/e4af3c8539d54ecca06b79256fcd8aff.png"></a>
</header>

<style>
main {
  margin: auto;
  width: 50%;
  padding: 10px;
}

form {
    margin: auto;
    width: 50%;
border: 5px solid red;}

label {
    color: black;
    font-size: 20px
}
</style>

<main id='main'>
<%=yield%>
</main>
