<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Accounted For">
  <title>Accounted For</title>
</head>
<header>
<a href='/'><img src="/img/logo.png"></a>
</header>

<style>

header {
}

main {
}

html {
    height: 100%;
}
body {
    height: 100%;
    margin: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("/img/login-login.jpg");
}

h1, h2, h3 {
  margin: auto;
  width: 30%;
  padding: 10px;
  text-align: center;
}

form {
  margin: auto;
  width: 35%;
  padding: 25px;
  border: 1px solid black;
  border-radius: 25px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

label {
    color: black;
    font-size: 20px
}

.signup {
  margin: auto;
  width: 35%;
  padding: 25px;
}

footer {
  position: fixed;
  text-align: center;
  bottom: 0; 
  width: 100%;
  background-color: #E8E8E8;
}

.flash-message {
  width: 100%;
  background-color: 90ee90;
  text-align: center;
}

.flash-warning {
  width: 100%;
  background-color: #FFFF66;
  text-align: center;
}

.flash-fatal {
  width: 100%;
  background-color: #ff6347;
  text-align: center;
}

</style>

<main id='main'>
  <body>
<%if !flash.empty?%>
  <%flash.each do |name, message|%>
  <div class='flash-<%=name%>'>
  <strong><%=message%></strong>
  </div>
  <%end%>
<%end%>

   <%=yield%>

<footer>&#169; 2021 <strong>Accounted For</strong></footer>

  </body>
</main>
